* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
    color: #ffffff;
}

nav {
    display: flex;
    background: linear-gradient(to right, #ff0000, #ffa500, #ffff00);
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;

}

nav ul li a {
    display: block;
    padding: 2rem;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #ffa500;
}

div {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

div img {
    border-radius: 50%;
    border: 2px double #ffa500;
}

h1,
p {
    text-align: center;
}

h2 {
    text-align: center;
    background: linear-gradient(to left, #ff0000, #ffa500, #ffff00);
    padding: 1rem;
    margin: 0.5rem 10rem;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
ul{
    list-style: square;
}

section {
    background-color: #000000;
    margin: 0.5rem 10rem;
    padding: 2rem;
}

footer {
    display: flex;
    background: linear-gradient(to right, #ff0000, #ffa500, #ffff00);
    justify-content: center;
    padding: 1rem;
    font-weight: bold;
}