@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Redressed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}

nav {
    display: flex;
    background: linear-gradient(to right, #ff0000, #ffa500, #ffff00);
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;

}

nav ul li a {
    display: block;
    padding: 2rem;
    text-decoration: none;
    color: #ffffff;
    font-weight: bolder;
}

nav ul li a:hover {
    background-color: #ffa500;
}

header h1 {
    font-family: 'redressed';
    text-align: center;
    padding: 2rem;
}

div {
    margin: 0 10rem;
}

#banner {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}

section {
    background-color: #000000;
    margin: 0.5rem 10rem;
    padding: 2rem;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

ul {
    list-style: square;
}

a,
a:visited {
    color: #ffffff;
}

#order {
    display: flex;
    justify-content: center;
}

#button {
    background-color: #ffa500;
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
}

address {
    display: inline;
}

footer {
    display: inline-block;
    width: 100%;
    background: linear-gradient(to right, #ff0000, #ffa500, #ffff00);
    justify-content: center;
    padding: 1rem;
    font-weight: bold;
}

footer a {
    color: #333333;
    text-decoration: none;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 0.8rem;
    }

    nav ul li a {
        padding: 0.5rem;
    }

    header h1 {
        padding: 1rem;
    }

    div {
        margin: 0 2rem;
    }

    section {
        margin: 0.5rem 2rem;
        padding: 1rem;
    }

    h2 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    #button {
        padding: 0.2rem;
    }

    footer {
        display: inline-block;
        font-weight: bold;
    }
}